version: "3.9"

services:
  app:
    build:
      context: .
      args:
        - DEV=true
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
      - dev-static-data:/vol/web
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=yandex
      - DB_USER=postgres
      - DB_PASS=Amirshoh1505
      - DEBUG=1
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_CHANNEL_ID=${TELEGRAM_CHANNEL_ID}
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16-alpine
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=yandex
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Amirshoh1505
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d yandex" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  dev-db-data:
  dev-static-data: